@model PentiaCodeTest.Models.Customer

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <i class="glyphicon glyphicon-user"></i>
                <strong>@Model.Name.ToUpper() @Model.Surname.ToUpper()</strong>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <i class="glyphicon glyphicon-map-marker"></i>
                @Model.Address
            </div>
            <div class="col-md-4">
                <i class="glyphicon glyphicon-calendar"></i>
                @Model.Created
            </div>
            <div class="col-md-2">
                Age: @Model.Age
            </div>
            @if (@Model.CarPurchases.Any())
            {
                <div class="col-md-2">
                    <div class="pull-right">
                        <a role="button" class="navbar-link" data-toggle="collapse" href="#purchase_@Model.Id">
                            Purchases <i class="glyphicon glyphicon-stats"></i>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
    @if (@Model.CarPurchases.Any())
    {
        {
            Html.RenderPartial("_PurchaseList", Model);
        }
        <div class="panel-footer ">
            <div class="row">
                <div class="col-md- pull-right">
                    <small>
                        Total: @(Model.CarPurchases.Sum(a => a.PricePaid))
                    </small>
                </div>
                <div class="col-md-2 pull-right">
                    <small>
                        Diff: @(Model.CarPurchases.Sum(a => a.Car.RecommendPrice) - Model.CarPurchases.Sum(a => a.PricePaid))
                    </small>
                </div>
            </div>
        </div>
    }
</div>